In [4]:
import pandas as pd

# Load your dataset (already created in Task 1)
full_dataset = pd.read_csv('../Data/prepared_sales_data.csv')

In [5]:
# Assuming you have already preprocessed the dataset

# Define state based on existing features
full_dataset['state'] = list(zip(full_dataset['day_of_week'], 
                                 full_dataset['has_promotion'], 
                                 full_dataset['is_weekend']))

# Define actions (e.g., price adjustments or promotions)
actions = [-1, 0, 1]  # Example actions: decrease price, no change, increase price

# Reward function based on sales
def reward_function(row):
    return row['total_sales']  # You can modify this to add penalties or bonuses

full_dataset['reward'] = full_dataset.apply(reward_function, axis=1)

# Reinforcement learning process can now use these columns: 'state', 'reward', 'action'

In [6]:
full_dataset.head()

,code,amount,units,time,province,week,customerId,supermarket_id,basket,day,...,is_bulk,feature,display,postal-code,has_promotion,day_of_week,is_weekend,total_sales,state,reward
0,7680850106,0.80,1,11:00:00,2,43,125434,244,1,1,...,False,4,5,40222,0,0,0,0.80,"(0, 0, 0)",0.80
1,1800028064,2.25,1,11:37:00,2,43,108320,244,2,1,...,Unknown,4,5,40222,0,0,0,2.25,"(0, 0, 0)",2.25
2,9999985067,0.85,1,11:48:00,2,43,162016,244,3,1,...,False,4,5,40222,0,0,0,0.85,"(0, 0, 0)",0.85
3,9999985131,2.19,1,13:23:00,2,43,89437,244,4,1,...,False,4,5,40222,0,0,0,2.19,"(0, 0, 0)",2.19
4,5100002794,2.19,1,13:23:00,2,43,89437,244,4,1,...,False,4,5,40222,0,0,0,2.19,"(0, 0, 0)",2.19